
body{
  font-family: Arial;
}
h1{
color: #fff;
font-size: 20pt;
}
/* banner(container) Style
 ========================================================================== */
form.uk-form.banner{

margin:20px auto;
padding:20px 10px;
}
.uk-form.banner{
  border-image: url(../img/header.svg);
  border-image-repeat: repeat;
  border-image-slice: 9;
  margin: 0 10px 0 0;
  border-width: 2px 2px 2px 2px;
  background-color: #f6f6f6;
 }
form.uk-form.banner input
{
  margin-bottom:20px;
}

.logo{
  float:left;
  margin-bottom:15px;
}
.hotelsearch{
float: right;
font-size: 12pt;
margin:10px 10px 0px 0px;
}


span.search{
  float:right;
}




button.uk-button.pad{
  margin-left:45px;
}
/* Border-left Colour
 ========================================================================== */

input.city.uk-width-small-1{border-left: 2px solid #f48f00;}
input.checkin.uk-icon-cog.uk-width-1{border-left: 2px solid #007fad;}
input.checkout.uk-icon-cog.uk-width-1{border-left: 2px solid #c94a30;}

*/

.important {
   font-weight: bold;
   font-size: xx-large;
}

.blue {
   color: blue;
}

/* button Fix
 ========================================================================== */
div.uk-button-dropdown.uk-button.uk-width-1-2
{
  width:49%;

}
a.uk-button.uk-width-1-2{
  width:49%;
}
/* Footer Style
 ========================================================================== */
footer{

    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 80px 0;
    background: #414751;
    border-top: 2px solid #2a292a;
}

footer .copyrights{
    text-align: center;
    color: #fff;
    font-family: "raleway-regular", arial;
    font-size: 14px;
    letter-spacing: 1px;
}

footer .copyrights .website{
    text-decoration: none;
    font-family: "raleway-semibold", arial;
    font-weight: bold;
}


footer ul.social{
    overflow: hidden;
    display: block;
    text-align: center;
    margin-top: 30px;
}

footer ul.social li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

footer ul.social li:last-child{
    margin-right: 0;
}
