body{
  font-family: Arial;
  background-image:url('../img/concrete_seamless.png');
  background-repeat: repeat;
}
h1
{
color: #fff;
font-size: 20pt;
}
@media(min-width: 480px){
  .banner
  {
  min-width: 320px;
  margin:0 auto;

  }
}
@media(min-width: 980px){
  .banner
  {
  min-width: 320px;
  margin:0 auto;

  }
}
form.uk-form.banner{

margin:20px auto;
padding:20px 10px;
}

.uk-form.banner{
  border-image: url(../img/header.svg);
  border-image-repeat: repeat;
  border-image-slice: 9;
  margin: 0 10px 0 0;
  border-width: 2px 2px 2px 2px;
  background-color: #f6f6f6;
 }
form.uk-form.banner input
{
  margin-bottom:20px;
}


.push
{
  margin-top:20px;
}

.person
{
  max-width:38px;
}

button{


}
.radio button
{
  border-radius:2px;
  margin-left:9px;
}

.radio button:nth-child(1)
{
  border-radius:2px;
  margin-left:0px;
}
.logo{
  float:left;
}
.hotelsearch{
float: right;
font-size: 12pt;
margin:10px 10px 0px 0px;
}
.person_list
{
  margin:0 20%;
}
div.uk-grid.uk-width-1 button{

  margin-left:0px;
}
div.uk-grid.uk-container-center
{margin: 0 0 0 0px;
}
